link(rel="stylesheet" href="css/style.css")
link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700|Roboto+Condensed:400,700|Roboto:500&amp;subset=cyrillic" rel="stylesheet")
