header {
    padding: 30px 0 0;

    background: url(../img/header-bg.png) top center no-repeat;
    .header-top {
        font-size: 18px;
        .header-top__logo {
            padding-right: 80px;

            vertical-align: middle;
        }
        i {
            margin-right: 12px;

            vertical-align: middle;
        }
        .header-top__leaf {
            width: 29px;
            height: 37px;

            background-position: -1px -38px;
        }
        .header-top__like {
            width: 42px;
            height: 37px;
            margin-left: 30px;

            background-position: -1px -0px;
        }
        strong {
            vertical-align: middle;

            font-size: 24px;
            font-weight: 700;
        }
    }
    .header__heading {
        padding: 30px 0;

        text-transform: uppercase;

        color: #ede091;

        font-family: $roboto-cond;
        font-size: 60px;
        font-weight: 600;
    }
    .row {
        overflow: hidden;
        .header-features {
            display: inline-block;

            width: 34%;
            .header-features__heading {
                font-family: $roboto;
                font-size: 22px;
                line-height: 1.4;
            }
            .header-features__list {
                .header-features__item {
                    position: relative;

                    padding: 10px 0 10px 35px;

                    font-size: 16px;
                    line-height: 1.6;
                    &::before {
                        position: absolute;
                        top: 10px;
                        left: 0;

                        width: 24px;
                        height: 24px;

                        content: '';

                        background: url(../img/check.png) no-repeat;
                    }
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 266px;
                        height: 1px;

                        content: '';

                        opacity: 0.5;
                        border-radius: 100%;
                        background: url(../img/list-line.png) no-repeat;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            .header-features__img {
                width: 100%;
                padding: 25px 0;
            }
        }
        .header-right {
            display: inline-block;

            width: 290px;
            max-width: 290px;

            vertical-align: top;
            .header-count {
                display: inline-block;

                width: 60%;
                padding-bottom: 20px;
                .header-count__num {
                    position: relative;

                    display: inline-block;

                    margin-right: 5px;
                    padding: 10px 15px 5px;

                    vertical-align: middle;

                    color: #000;
                    background: #fff;

                    font-family: $pt-narrow;
                    font-size: 50px;

                    @include radius(5px);
                    &::after {
                        position: absolute;
                        top: 33px;
                        left: 0;

                        width: 100%;
                        height: 1px;

                        content: '';

                        background: #cecece;
                    }
                    &:first-child {
                        opacity: 0.65;
                    }
                }
            }
            .header-count__text {
                display: inline-block;

                width: 40%;

                vertical-align: middle;

                font-family: $pt-narrow;
                font-size: 18px;
            }
            .form {
                padding: 20px 0;

                background: #fff url(../img/form-bg.png) top center no-repeat;

                @include radius(8px);
                .form__price-old, .form__price-new {
                    display: inline-block;

                    width: 44%;
                    padding: 5px;

                    vertical-align: top;

                    font-family: $pt-narrow;
                    font-size: 18px;
                }
                span {
                    padding-left: 20px;
                }
                strong {
                    padding-left: 20px;

                    font-size: 48px;
                    font-weight: 500;
                }
                .crossed {
                    text-decoration: line-through;
                }
                .form__value {
                    padding-left: 0;

                    font-size: 22px;
                }
                .form__input {
                    display: block;

                    width: 250px;
                    height: 55px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    padding-left: 15px;

                    border: 1px solid #e1e1e1;

                    font-size: 14px;

                    @include radius(5px);
                }
                .form__name {
                    margin-top: 40px;
                }
                .form__submit {
                    position: relative;

                    display: block;
                    overflow: hidden;

                    width: 250px;
                    height: 60px;
                    margin: 0 auto 30px;
                    padding-left: 50px;

                    text-transform: uppercase;

                    color: #fff;
                    border: none;
                    background: #f6481a;

                    font-family: $pt-narrow;
                    font-size: 22px;
                    font-weight: 600;

                    @include radius(5px);
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 50px;
                        height: 100%;

                        content: '';

                        background: #b13412 url(../img/icon-arrow.png) center center no-repeat;
                    }
                }
            }
        }
        .header-discount {
            display: inline-block;

            width: 33%;
            margin-top: -260px;

            text-align: center;
            vertical-align: middle;
            .header-discount__desc {
                font-size: 19px;
                font-family: $pt-narrow;
                padding-top: 15px;
            }
        }
        .form__secure {
            text-align: center;

            color: #000;

            font-family: $pt-narrow;
            font-size: 15px;
            span {
                position: relative;
                &::after {
                    position: absolute;
                    top: -2px;
                    left: 0;

                    width: 13px; height: 17px;

                    content: '';

                    background: url(../img/sprite.png) no-repeat;
                    background-position: -1px -76px !important;
                }
            }
        }
    }
}
