.question {
    text-align: center;

    background: url(../img/block2-bg.png) top center no-repeat;
    padding-bottom: 60px;
    .question__heading {
        padding: 40px 0 25px;
    }
    .question__desc {
        padding-bottom: 25px;

        font-family: $pt-sans;
        font-size: 22px;
    }
    .question-block {
        max-width: 640px;
        margin: 0 auto;
        padding: 30px 10px 40px;

        color: #000;
        background: #fff;

        @include radius(5px);
        .question-block__question {
            padding-bottom: 40px;

            text-transform: uppercase;

            font-family: $pt-sans;
            font-size: 24px;
            font-weight: 700;
            .question-block__count {
                display: inline-block;

                margin-right: 15px;
                padding: 20px 25px;

                background: #e5e5e5;

                @include radius(100%);
            }
        }
        .question-block__answer {
            position: relative;

            display: inline-block;

            width: 250px;
            overflow: hidden;
            height: 50px;
            margin: 0 10px;
            padding-top: 30px;

            text-decoration: none;
            text-transform: uppercase;

            color: #fff;
            background: #fc481a;

            font-family: $pt-sans;
            font-size: 24px;
            font-weight: 700;

            @include radius(10px);
            &::before {
                position: absolute;
                content: '';
                top: -23px;
                left: -33px;
                width: 320px;
                height: 65px;
                background: #fff;
                opacity: 0.1;
                @include transition(all 0.3s ease);
                @include radius(100%);
            }
            &:hover {
                &::before {
                    opacity: 0.2;
                }
            }
        }
    }
}
